
:root{
  --bluecolor: #7695FF;
  --textcolor: #CD5C08;
  --lightblue: #9DBDFF;
  --orangecolor: #FFD7C4;
  --lightorange: #FF9874;
  --title-font: "Lato", sans-serif;
  --font: "Josefin Sans", sans-serif;
  /* --font: "Ubuntu", sans-serif; */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html{
  font-size: 1.5rem;
}

.charging{
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
}

.charging p{
  font-size: 1rem;
  font-family: var(--font);
  color: var(--lightorange);
  font-weight: bold;
  text-align: center;
  margin: 0.4rem auto;
}

